# 데이터베이스 설정
DB_HOST=10.178.0.2
DB_USER=user_fastapi
DB_PASSWORD=adaptkore!!
DB_NAME=fast_api

# Google Sheets 설정
GOOGLE_SHEET_URL=https://docs.google.com/spreadsheets/d/1OyDa_VVvuzZK5dVxwdZ6_I70W2OMHf3uPdJkd8c0J24/edit?gid=0#gid=0
JSON_KEY_PATH=/home/web_test/iron-decorator-454909-j9-348e9465e40e.json

# 서버 설정
HOST=0.0.0.0
PORT=8000 